extends layout

include mixin/crearProyecto

block contenido
    .contenido-principal
        h1 #{nombrePag}
        if error
            each err in error   
                .alerta= err.texto
        +crearProyecto(proyecto)